* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Pacifico";
}
@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url("fonts/Pacifico-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Guerrilla";
  src: local("Guerrilla"),
    url("fonts/ProtestGuerrilla-Regular.ttf") format("truetype");
}
